@media screen and (max-width:767px){
    .card-img-top {
        width: 100%;
        height: 38vw;
        object-fit: cover;
    }    
}
@media screen and (min-width:768px){
    .card-img-top {
        width: 100%;
        height: 16vw;
        object-fit: cover;
    }
}
.bg-custom{
    background:  #373639b4;
    background: radial-gradient(circle,   #261d36 0%, rgba(52,58,64,1) 26%, rgba(37, 44, 70, 0.568) 100%);
}
